@font-face {
    font-family: Roboto;
    src: url(./Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    font-style: italic;
    src: url(./Roboto/Roboto-Italic.ttf);
}
@font-face {
    font-family: Roboto;
    font-weight: lighter;
    src: url(./Roboto/Roboto-Light.ttf);
}
@font-face {
    font-family: Roboto;
    font-weight: lighter;
    font-style: italic;
    src: url(./Roboto/Roboto-LightItalic.ttf);
}
@font-face {
    font-family: Roboto;
    font-weight: bold;
    src: url(./Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: Roboto;
    font-weight: bold;
    font-style: italic;
    src: url(./Roboto/Roboto-BoldItalic.ttf);
}